<div class="container text-center meals">
  <h1>All Our meals</h1>
  <div class="row">
    <% @meals.each do |meal| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="meal-card">
          <%= link_to '', meal_path(meal), class: 'card-link' %>
          <div class="meal-content">
            <div class="meal-head">
              <h4><%= meal.name %> ($<%= meal.price %>)</h4>
            </div>
            <div class="meal-info">
              <p><%= meal.category %></p>
              <p>
                <%meal.avg_rating.times { %><i class='fa fa-star'></i> <% } %>
                <%(5 - meal.avg_rating).times { %><i class='fa fa-star-o'></i> <% } %>
              </p>
            </div>
            <div class="meal-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path meal.photo.path, height: 150, width: 205, crop: :scale %>')">
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
