<div class="meals-container meals">
  <div class="card-container">
    <div class="row">
      <% @meals.each do |meal| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <div class="meal-card">
            <%= link_to '', meal_path(meal), class: 'card-link' %>
            <div class="meal-content">

              <div class="meal-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
           url('<%= cl_image_path meal.photo.path if meal.photo? %>')">
              </div>

              <div class="meal-head">
                <h5><b><%= meal.name %></b></h5>
              </div>
              <div class="meal-info">
                <p><%= meal.category %></p>
                <p>
                  <%meal.avg_rating.times { %><i class='fa fa-star'></i> <% } %>
                  <%(5 - meal.avg_rating).times { %><i class='fa fa-star-o'></i> <% } %>
                </p>
              </div>
              <div class="meal-bottom-elements">
                <div class="meal-price">
                  <p>$ <%= meal.price %></p>
                </div>
                <div class="meal-order" style="z-index: 1">
                  <%= link_to 'order', meal_path(meal), class: 'btn btn-primary' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map" style="width: 100%; height: calc(100vh - 70px);"></div>


  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    <% end %>
  <% end %>
</div>
