<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <% if @product.photo? %>
        <%= cl_image_tag @product.photo.path, width: 200, height: 300, crop: :fill %>
      <% end %>
      <h2>And here we'll put info about the user</h2>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="row">
        <div class="col-xs-7">
          <div class="meal-info">
            <div class="meal-info">
              <h2><%= @meal.name %></h2>
              <p>Category: <%= @meal.category %></p>
              <p>Address: <%= @meal.address %></p>
            </div>
          </div>
        </div>
        <div class="col-xs-5 btn-order">
          <h4>Price: $<%= @meal.price %></h4>
          <button class="btn btn-success btn-lg">Order now!</button>
        </div>
      </div>
      <div class="meal-description text-justify">
        <h3>Description</h3>
        <p><%= @meal.description %></p>
      </div>
    </div>
  </div>

  <div class="row up-division">
    <div class="col-xs-12 col-sm-6">
      <h4 class="text-center">Reviews</h4>
      <% @meal.reviews.each do |review| %>
        <div class="review-card">
          <p><%= review.comment %></p>
          <p>
            <%review.rating.times { %><i class='fa fa-star'></i> <% } %>
            <%(5 - review.rating).times { %><i class='fa fa-star-o'></i> <% } %>
          </p>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <h4 class="text-center">Add a review</h4>

      <% if @review.errors.any? %>
        <ul>
          <% @review.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>

      <%= simple_form_for([@meal, @review]) do |f| %>
        <%= f.input :comment %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
