<h2 class="text-center">This are the meals that you made!</h2>
<div class="row text-center meals">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="meal-card">
      <%= link_to '',  new_meal_path, class: 'card-link' %>
      <div class="meal-content">

        <div class="meal-img">
          <i class="fa fa-plus-circle" style="font-size: 70px;"></i>
        </div>

        <div class="meal-head">
          <h5><b>New Meal</b></h5>
        </div>
      </div>
    </div>
  </div>
  <% current_user.meals.each do |meal| %>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="meal-card">
        <%= link_to '', meal_path(meal), class: 'card-link' %>
        <div class="meal-content">

          <div class="meal-img" style="background-image: url('<%= cl_image_path meal.photo.path if meal.photo? %>')">
          </div>

          <div class="meal-head">
            <h5><b><%= meal.name %></b></h5>
          </div>

          <div class="meal-info">
            <p><%= meal.category %></p>
            <p>
              <%meal.avg_rating.times { %><i class='fa fa-star'></i> <% } %>
              <%(5 - meal.avg_rating).times { %><i class='fa fa-star-o'></i> <% } %>
            </p>
          </div>

          <div class="meal-bottom-elements", style="padding: 10px 20px; z-index: 1;">
            <%= link_to "Edit", edit_meal_path(meal), class: 'btn btn-warning btn-sm' %>
            <%= link_to "Delete", meal_path(meal), method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure? You won\'t be able to restore it!'} %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>
