<h2 class="text-center">These are the meals people are ordering from you!</h2>

<% Order.where(meal: current_user.meals).reverse.first(5).each do |order| %>
  <div class="order">
    <%= link_to '', meal_path(order.meal), class: 'list-link' %>
    <div class="order-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
         url('<%= cl_image_path order.meal.photo.path, height: 150, width: 205, crop: :scale if order.meal.photo? %>')">
    </div>
    <div class='order-body'>
      <h3><%= order.meal.name %> ($<%= order.meal.price %>)</h3>
      <p>Ordered by: <%= order.user.first_name %></p>
      <h6><i class="fa fa-clock-o"> <%= order.time %></i></h6>
      <h6><%= order.portions %> Portion(s)</h6>
    </div>
    <div class="order-controls hidden-sm hidden-xs">
      <% if order.status == "Accepted" %>
        <h5 class="text-center green"><%= order.status %></h5>
      <% elsif order.status == "Rejected" %>
        <h5 class="text-center red"><%= order.status %></h5>
      <% else %>
        <h5 class="text-center"><%= order.status %></h5>
        <ul class="list-inline">
          <li><%= link_to "Accept", "accept/order/#{order.id}", class: 'btn btn-success btn-sm' %></li>
          <li><%= link_to "Reject", "reject/order/#{order.id}", class: 'btn btn-danger btn-sm' %></li>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>
