<style>
  .container {
    margin-left: 200px; /* Same as the width of the tab */
    width: calc(100% - 200px);
  }
</style>

<% content_for(:sidebar) do %>
  <div id="mySidenav" class="tab">
    <span class="tablinks" onclick="openCity(event, 'History')" id="defaultOpen">History</span>
    <span class="tablinks" onclick="openCity(event, 'Meals')">Your meals</span>
    <span class="tablinks" onclick="openCity(event, 'Reviews')">Reviews</span>
  </div>
<% end %>

<div class="container">

  <div class="dash-view tabcontent" id="History">
    <h1 class="text-center">This is the history of the meals you ordered!</h1>
  </div>

  <div class="dash-view tabcontent" id="Meals">
    <h1 class="text-center">This are the meals that you made!</h1>
    <div class="row text-center meals">
      <% current_user.meals.each do |meal| %>
        <div class="col-xs-6 col-sm-4 col-md-3 meal-card">
          <%= link_to '', meal_path(meal), class: 'card-link' %>
          <div class="meal-content">
            <div class="meal-name">
              <h4><%= meal.name %> ($<%= meal.price %>)</h4>
            </div>
            <div class="meal-category">
              <h5><%= meal.category %></h5>
            </div>
            <div class="meal-img">
              <p>this is where the photo will appear</p>
            </div>
            <div class="meal-control">
              <%= link_to "Edit", edit_meal_path(current_user), class: 'btn btn-warning btn-sm' %>
              <%= link_to "Delete", meal_path(meal), method: :delete, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="col-xs-6 col-sm-4 col-md-3 meal-card">
        <%= link_to '', new_meal_path, class: 'card-link' %>
        <div class="meal-content">
          <div class="meal-name">
            <h4>New meal</h4>
          </div>
          <div class="meal-category">
            <h6>Click here</h6>
          </div>
          <div class="meal-img">
            <i class="fa fa-plus-circle" style="font-size: 70px;"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="dash-view tabcontent" id="Reviews">
    <h1 class="text-center">This the reviews you wrote and reviews written for you!</h1>
  </div>

</div>
